<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiav="content-type" content="text/html; charset=utf-8" />
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <meta charset="UTF-8">
  <meta name="author" content="<%- config.author %>" />
  <meta name="description" content="record Spud's life as he want." />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="/images/avatar.png" height="75" width="75" class="avatar" />
    </a>

    <section class="bio">
      <span>be fool. <br/>be cool.</span>
    </section>

    <section class="meta">
      <a href="https://github.com/<%- config.usernames.github %>"><img src="/images/github.png" /></a>
      <a href="https://twitter.com/<%- config.usernames.twitter %>"><img src="/images/twitter.png"></a>
      <a href="/atom.xml"><img src="/images/rss.png" /></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/archives/">archives</a></li>
        <li><a href="/about/">about</a></li>
      </ul>
    </section>
  </section>
  <%- body %>
</body>

</html>